body {
    margin: 0;
    background-color: darkslategray ;
}

h1 {
    font-size: 70px;
  }
  
#main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    margin-top: 10px;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap:  10px;
    border: 10px solid black;
    background-color: black;
    border-radius: 100%;
    width: 600px;
    height: 600px;
}


#blue {
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

#red {
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
}
#yellow {
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

#green {
    grid-area: verde;
    background-color: green;
    border-top-left-radius: 100%;
}

#center  {
    display: grid;
    background-color: gray ;
    position: absolute;
    width: 280px;
    height: 280px;
    border-radius: 100%;
    border: 10px solid black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.toggle {
    margin-left: 28px;
    margin-right: 30px;
  }
  
  .button {
    border-radius: 50% !important;
    font-size: 1.5em;
    background-color: lightgray;
  }
  
  #switches {
    position: absolute;
    font-family: 'Original Surfer', cursive;
    margin-left: 20px;
    margin-top: 110px;
  }
  
  .text2 {
    position: absolute;
    font-family: 'Original Surfer', cursive;
    margin-left: 100px;
    margin-top: 207px;
  }
  
  .text1 {
    position: absolute;
    font-family: 'Original Surfer', cursive;
    margin-left: 29px;
    margin-top: 142px;
  }
  
  .text1 span:last-child {
    padding-left: 75px;
  }
  
  #title {
    font-family: 'Original Surfer', cursive;
    position: absolute;
    font-size: 40px;
    margin-left: 60px;
    margin-top: 40px;
  }
  
  #turn {
    position: absolute;
    background: #330000;
    color: red;
    font-family: courier;
    font-size: 20px;
    height: 30px;
    width: 50px;
    margin-left: 105px;
    margin-top: 170px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
  }
